<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Detail</title>
    <link href="https://fonts.googleapis.com/css?family=Alegreya|Alegreya+SC|Alegreya+Sans|Alegreya+Sans+SC|Playfair+Display|Playfair+Display+SC" rel="stylesheet">
    <link rel="icon" type="png" href="../../../images/book_favicon.png"/>
    <link rel="stylesheet" type="text/css" href="../../styles/reset.css"/>
    <link rel="stylesheet" type="text/css" href="../../styles/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../styles/icons.css"/>
    <link rel="stylesheet" type="text/css" href="../../styles/layout.css"/>
    <link rel="stylesheet" type="text/css" href="../../styles/modules.css"/>
</head>
<body>
    <%include ../../layout/header%>

    <main class="flex-column">
        <h4 class="banner">Book Details</h4>
        <ul class="flex-column">
            <%=selected_book.id  %>
            <li class="flex-column detail-view">
                <img id = "detail-img" src=<%= selected_book.image_url %> >
                <h3><%= selected_book.title %></h3>
                <h4><%= selected_book.author %></h4>
                <p class="detail-view-description"><%= selected_book.description %></p>
                <p><%= selected_book.isbn %></p>
                <p>Bookshelf: <%= selected_book.bookshelf %></p>
                
                <form action="/books/<%= selected_book.id %>" method="POST">
                    <input type="hidden" name="_method" value="PUT">
                    <label for="title">Title: </label>
                    <input id="title" type="text" value="<%= selected_book.title%>" name="title">
                    
                    <label for="author">Author: </label>
                    <input id="author" type="text" value="<%= selected_book.author%>" name="author">
                    
                    <label for="isbn">ISBN: </label>
                    <input id="isbn" type="text" value="<%= selected_book.isbn%>" name="isbn">
                    
                    <input type="hidden" value="<%= selected_book.image_url%>" name="image_url">
                    
                    <label for="description">Summary: </label>
                    <textarea id="description" type="text" wrap="soft" value="<%= selected_book.description%>" name="description"><%= selected_book.description%></textarea>
                    
                    <label for="bookshelf">Bookshelf: </label>
                    <input id="bookshelf" type="text" name="bookshelf" value="<%= selected_book.bookshelf %>" required>
                    
                    <input id="save-book-button" type="submit" value="Update Book" id="submit-form-button">
                </form>

                <form action="/books/<%=selected_book.id%>" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="Remove from Bookshelf">
                </form>
            </li>
        </ul>
    </main>
    <%include ../../layout/footer%>
</body>
</html>